<nav class="bg-[#2c2e28] py-2 sm:px-4 sticky top-[0px] z-50">
      <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="" class="flex items-center">
                  <img src="/hangingPlant.png" class="h-[5rem] sm:h-[5rem]" alt="Logo" />
                  <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-[#C4CEB4]">A Day in the Leaf</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-[#2c2e28] focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                  <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-[#2c2e28] md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-[#2c2e28]">
                        <li>
                              <a href="#" id="home-button" class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:text-[#C4CEB4] md:p-0" aria-current="page">Home</a>
                        </li>
                        <li>
                              <a href="#" id="logout-button" class="block py-2 pl-3 pr-4 text-[#C4CEB4] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#C4CEB4] md:p-0">Log out</a>
                        </li>
                        <li>
                              <a href="#" class="block py-2 pl-3 pr-4 text-[#C4CEB4] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#C4CEB4] md:p-0">Contact</a>
                        </li>
                  </ul>
            </div>
      </div>
</nav>

<div class="grid grid-cols-10 mt-10 font-serif">
      <button id="plant-add" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-[#2c2e28] rounded-lg group bg-gradient-to-br from-[#2c2e28] to-[#284c20] group-hover:from-[#2c2e28] group-hover:to-[#284c20] hover:text-[#C4CEB4] focus:ring-4 focus:outline-none focus:ring-[#284c20] col-start-9">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#C4CEB4] rounded-md group-hover:bg-opacity-0">
                  <i class="fa-solid fa-plus"></i> Add plant
            </span>
      </button>
</div>


<div class="flex flex-row bg-inherit antialiased">
      <div class="flex flex-col fixed top-[400px]">
            <a href="https://plants.usda.gov/home" class="text-3xl" target="_blank"><i class="fa-solid fa-seedling" title="USDA Plant Database"></i></a> 
            <a href="https://garden.org/plants/" class="text-3xl mb-2" target="_blank"><i class="fa-solid fa-leaf" title="Garden Plant Database"></i></a>
            <a href="https://www.rhs.org.uk/plants" class="text-3xl mb-2" target="_blank"><i class="fa-solid fa-plant-wilt" title="RHS Plant Identifier"></i></a> 
      </div>
      <div class="bg-inherit md:max-2xl:col-span-6 pl-20 ml-5">
            <div class="antialiased bg-inherit text-gray-900 font-sans p-6">
                  <div class="container mx-auto">
                        <div id="plants-container" class="flex flex-wrap -mx-4 cardcontainer">
                              <!-- start cards -->
                              <!-- single card start -->
                                    {{!-- not sure if this is correct --}}
                              {{#each plant as |plant|}}
                              <div class="wrapper bg-transparent antialiased text-gray-900 w-full sm:w-1/2 md:w-1/2 xl:w-1/4 m-10">
                                    <div>
                                          <img src="/placeholder.png" alt="plant image" class="w-full object-cover object-center rounded-lg shadow-md" id="planticon">
                                          <div id={{plant.id}} class="relative px-4 -mt-16">
                                                <div id={{plant.id}} class="bg-white p-6 rounded-lg shadow-lg">
                                                      <div id={{plant.id}} class="flex justify-between">
                                                            <div id={{plant.id}} class="flex items-baseline">
                                                                  <span id={{plant.id}} class="plantSpan text-[#eae3ba] text-xs px-2 inline-block rounded-full  uppercase font-semibold tracking-wide">
                                                                        {{!-- species instead of type? --}}
                                                                        {{plant.species}}
                                                                  </span>
                                                            </div>
                                                            <div>
                                                                  <button id = "water-button"><i id = "water-button" class="fa-solid fa-droplet"></i></button>
                                                                  <button id = "delete-button" class="pl-5"><i id = "delete-button" class="fa-solid fa-trash"></i></button>
                                                            </div>
                                                      </div>
                                                      <h4 id={{plant.id}} class="mt-1 text-xl font-semibold uppercase leading-tight truncate">
                                                            {{plant.name}}
                                                      </h4>
                                                      <div id={{plant.id}} class="mt-1">
                                                                  Watered: 
                                                            <span id={{plant.id}} class="text-gray-600 text-sm">
                                                                  {{plant.watered}}
                                                            </span>
                                                      </div>
                                                      <div id={{plant.id}} class="mt-1">
                                                            Health conerns:
                                                            <span id={{plant.id}} class="text-gray-600 text-sm">
                                                                  {{plant.generalNotes}}
                                                            </span>
                                                      </div>
                                                </div>
                                          </div>
                                                      {{!-- </div> --}}
                                                      <!--    <div id="modal" class="modal">
                                                            <form>
                                                                  <div>
                                                                        <input type="text" name="name" placeholder=" " required />
                                                                        <label for="name">plant name</label>
                                                                  </div>
                                                                  <div class="hide">
                                                                        <input type="text" name="species" placeholder=" " required />
                                                                        <label for="species">species</label>
                                                                  </div>
                                                                  <div class="hide">
                                                                        <input type="text" name="scientificName" placeholder=" " required />
                                                                        <label for="scientificName">Scientific Name</label>
                                                                  </div>
                                                                  <div class="hide">
                                                                        <input type="text" name="adoptionDate" placeholder=" " required />
                                                                        <label for="adoptionDate">Adoption date</label>
                                                                  </div>
                                                                  <div class="hide">
                                                                        <input type="number" name="height" placeholder=" " required />
                                                                        <label for="height">plant height</label>
                                                                  </div>
                                                                  <div class="hide">
                                                                        <input type="text" name="stage" placeholder=" " required />
                                                                        <label for="stage">plant life stage</label>
                                                                  </div>
                                                                  <div class="hide">
                                                                        <input type="text" name="waterNeeds" placeholder=" " required />
                                                                        <label for="waterNeeds">Water Needs</label>
                                                                  </div>
                                                                  <div class="hide">
                                                                        <input type="text" name="sunshineNeeds" placeholder=" " required />
                                                                        <label for="sunshineNeeds">sunshine needs</label>
                                                                  </div>
                                                                  <div class="hide">
                                                                        <input type="text" name="generalNotes" placeholder=" " required />
                                                                        <label for="generalNotes">General Notes</label>
                                                                  </div>
                                                                  <div>
                                                                        <input type="button" id="form-submit">
                                                                  </div>
                                                            </form> -->
                                    </div>
                              </div>
                        <!-- single card end -->
                        {{/each}}
                        </div>
                  </div>
            </div>
      </div>
</div>

<script src="/javascript/logout.js"></script>
<script src="/javascript/plantinfo.js"></script>
